#replicanti_amount {
  text-align: center;
}

#main {
  width: 100%;
}

#replicate_chance {
  float: left;
  width: 100%;
}

#replicate_upgrade {
  float: left;
  width: 100%;
  border: 2px solid black;
}

#tickspeed {
  float: left;
  width: 100%;
}

#tickspeed_upgrade {
  float: left;
  width: 100%;
  border: 2px solid black;
}
