#replicanti_amount {
  text-align: center;
}


#replicate_price {
  border: 2px solid black;
}

#tickspeed_price {
  border: 2px solid black;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
